@import "../components/WelcomePage/WelcomePage.scss";
@import "../components/Chat/Chat.scss";

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
}
#backend-test {
    position: absolute;
    @extend %flex;
}
html, body {
    background-color: pink;
}
.hidden {
    transform: translateY(-1500px);
    transition: transform 1s;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }