#welcome-page {
    @extend %flex;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: pink;
    overflow: hidden;
}
#page-container {
    @extend %flex;
    flex-flow: column !important;
}
#welcome-text {
    font-size: 1.8rem;
    margin: 1em 0 .5rem;
}
#welcome-subtext {
    font-style: oblique;
    font-weight: 500;
}
#username-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 4em;
}
#username-input {
    margin: 0.5rem;
}
#svg-container {
    position: absolute;
    width: 100%;
    bottom: -0.5em;
}
svg {
    width: 200%;
    height: 110px;
    fill: #1f1f1f;
    transform: rotate(180deg);
}